h1 {
    color:#FFDA33;
  }
body { color:white;
      font-family:'Amita';
      font-size: 22px;
  background-image:url("https://www.visitmanchester.com/imageresizer/?image=%2Fdbimgs%2FOlympic%20Parade%20nav.jpg&action=FeaturedItems3x2");
}
img.displayed {
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border: 2px solid black;
  padding 10px;
}
}
a{
     background-color:black;
     color:white;
}
ul.nav li{
              display: inline-block;
              padding-right: 80px;
              font-size: 50px;
              background-color:black;
              color:white
          }
